@font-face {
  font-family: 'iconfont';
  src: url('./font/iconfont.eot');
  src: url('./font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('./font/iconfont.woff2') format('woff2'),
  url('./font/iconfont.woff') format('woff'),
  url('./font/iconfont.ttf') format('truetype'),
  url('./font/iconfont.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" ;
  /*font-size: 16px;*/
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo-weibo:before {
  content: "\e618";
}

.icon-logo-wechat:before {
  content: "\e619";
}

.icon-mima:before {
  content: "\e660";
}

.icon-QQ:before {
  content: "\e65e";
}

.icon-user:before {
  content: "\e614";
}

.icon-dingding:before {
  content: "\e709";
}

.icon-user1:before {
  content: "\e63c";
}

.icon-mima1:before {
  content: "\e7af";
}

